<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Editar Usuario</h4>
</div>
<form action="/manager/user/edit/{{object.id}}/" method="post" id="edit-user-form" class="form">
    <div class="modal-body">

        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %} 
        <fieldset class="form-group">
            <label for="{{ field.label }}"> 
                {{ field.label }} 
            </label> 
            {{ field }}
            {% if field.errors %} 
            <ul style="margin-left:0px;"> 
                {% for error in field.errors %} 
                <li class="icon-warning-sign" style="margin-left:0px; color:red;">&nbsp;<strong>{{ error|escape }}</strong></li> 
                {% endfor %} 
            </ul> 
            {% endif %} 
        </fieldset> 
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Actualizar</button>
    </form>
</div>

{% block extra_js %}
<script>
    var form_options = { target: '#edit-user-content', error:function() {
        $('#edit-user').modal('hide');
        window.location.reload(true);
    }
} 

$('#edit-user-form').ajaxForm(form_options);
</script>
{% endblock %}