{% extends 'base.html' %}

{% block title %}Stock - MG Concesionario{% endblock %}

{% block active_inventario %}active{% endblock %}

{% block extra_js %}
<script> 

    $('body').on('hidden.bs.modal', '.modal', function () { $(this).removeData('bs.modal'); });

</script>

{% endblock %}

{% load humanize %}

{% block content %}

<div class="container">

    <div class="widget widget-table action-table">

        <div class="widget-header"> <i class="icon-cube"></i>
            <h3>Stock</h3>
            <a title="GESTIONAR STOCK" class="btn pull-right" style="margin-top:6px; margin-right:12px;" href="{% url 'create_stock' %}" data-toggle="modal" data-target="#create-stock">
                <i class="btn-icon-only icon-plus" style="margin-left:0px;"></i>
            </a>
        </div>

        <!-- /widget-header -->
        <div class="widget-content">

            <table class="table table-bordered table-hovered "cellspacing='0'>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Fabricante</th>              
                        <th>Descripción</th>
                        <th>Modelo</th>
                        <th>Sucursal</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in object_list %}
                    <tr>
                        <td>{{stock.articulo.codigo}}</td>
                        <td>{{stock.articulo.fabricante}}</td>
                        <td>{{stock.articulo.descripcion}}</td>
                        <td>{{stock.articulo.modelo}}</td>
                        <td>{{stock.sucursal}}</td>
                        <td>{{stock.stock}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Create stock Modal -->
<div class="modal fade" id="create-stock">
    <div class="modal-dialog modal-sm" role="document">
        <div id="create-stock-content" class="modal-content"></div>
    </div>
</div><!-- /.modal -->

{% endblock %}