<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Cambiar Contraseña</h4>
</div>

<form action="{% url 'change-password' %}" method="post">
    <div class="modal-body">

        {% csrf_token %}

        <fieldset class="form-group">
            <label for="old_password"> 
                Contraseña actual
            </label> 
            <input type="password" name="old_password" required>
        </fieldset> 

        <fieldset class="form-group">
            <label for="{{ field.label }}"> 
                Contraseña nueva 
            </label> 
            <input type="password" name="new_password1" required>
        </fieldset> 

        <fieldset class="form-group">
            <label for="{{ field.label }}"> 
                Repita contraseña nueva
            </label> 
            <input type="password" name="new_password2" required>
        </fieldset> 

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Cambiar</button>
        <input type="hidden" name="next" value="{% url 'home' %}" />
    </form>
</div>