<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Detalle pedido</h4>
</div>
	<div class="modal-body">
			<table id="sales-lines" class="table-form table-bordered"cellspacing='0'>
				<thead>
					<tr>
						<th>Articulo</th>
						<th>Sucursal</th>
						<th>Cantidad</th> 
						<th>Precio</th>              
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
				{% load humanize %}
					{% for linea in object_list %}
					<tr>
						<td>{{linea.articulo}}</td>
						<td>{{linea.sucursal}}</td>  
						<td>{{linea.cantidad}}</td>
						<td>$ {{linea.precio|floatformat:2|intcomma}}</td>
						<td>$ {{linea.total_linea|floatformat:2|intcomma}}</td> 
					</tr>
					{% endfor %}
				</tbody>
			</table>
	</div>

	<div class="modal-footer">
</div>