{% extends 'base.html' %}

{% block title %}Pedidos - MG Concesionario{% endblock %}

{% block active_ventas %}active{% endblock %}

{% block extra_js %}
<script> 
    $('body').on('hidden.bs.modal', '.modal', function () { $(this).removeData('bs.modal'); }); 
</script>
{% endblock %}

{% load humanize %}

{% block content %}

<div class="container">

    <div class="widget widget-table action-table">

        <div class="widget-header"> <i class="icon-money"></i>
            <h3>Pedidos</h3>
            <a title="CREAR PEDIDO" class="btn pull-right" style="margin-top:6px; margin-right:12px;" href="{% url 'create_venta' %}" data-toggle="modal" data-target="#create-venta">
                <i class="btn-icon-only icon-plus" style="margin-left:0px;"></i>
            </a>
        </div>

        <!-- /widget-header -->
        <div class="widget-content">

            <table class="table table-bordered table-hovered "cellspacing='0'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Vendedor</th>
                        <th>Comentario</th>
                        <th>Total</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in object_list %}
                    <tr>
                        <td>{{venta.id_venta}}</td>
                        <td>{{venta.cliente}}</td>
                        <td>{{venta.fecha}}</td>
                        <td>{{venta.vendedor}}</td>
                        <td>{{venta.comentario}}</td>
                        <td>$ {{venta.total|floatformat:2|intcomma }}</td>
                        <td style ="word-break:break-all;" class="td-actions">
                            <a href="{% url 'show_lineas_ventas' venta.id %}" data-toggle="modal"  data-target="#detail-venta" title="DETALLAR VENTA" class="btn btn-warning">
                                <i class="btn-icon-only icon-eye-open"> </i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Create Venta Modal -->
<div class="modal fade" id="create-venta">
    <div class="modal-dialog modal-lg" role="document">
        <div id="create-venta-content" class="modal-content"></div>
    </div>
</div><!-- /.modal -->

<!-- Detail Venta Modal -->
<div class="modal fade" id="detail-venta">
    <div class="modal-dialog modal-lg" role="document">
        <div id="detail-venta-content"class="modal-content"></div>
    </div>
</div><!-- /.modal -->

{% endblock %}